@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
header {
  border-bottom: 3px solid black;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* form{
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 25%;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
} */
form .text {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
  position: relative;
}
form .hours {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
  position: relative;
}
form .profit {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
  position: relative;
}
form .description {
  width: 25%;
  height: 100px;
  transition: 0.4s;
  border-radius: 10px;
  position: relative;
}
form .button {
  float: right;
  cursor: pointer;
  color: white;
  background-color: #111827;
  font-size: 25px;
  border-radius: 10px;
  margin: 0 2rem;
  margin-top: 2rem;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(190deg, white, #660000);
}
nav {
  /* background: #0082e6; */
  height: 80px;
}
label.logo {
  min-height: 99px;
  line-height: 80px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  margin: 0 100px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
}

/* form ul {
  float: right;
  margin-right: 20px;
}

form ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
form ul li input {
  cursor: pointer;
  color: white;
  background-color: #111827;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
} */
/* .logo {
  display: block;
  max-width: 200px;
  max-height: 80px;
  min-height: 99px;
  line-height: 99px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  font-size: 50px;
} */

main {
  height: 80vh;
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 900px;
  margin: 0 auto;
}
footer {
  height: 10vh;
}
.task-list {
  padding: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
#tasks .task .content .Start {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
}

#tasks .task .content .End {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
}
#tasks .task .content .totalProfit {
  font-size: 1.125rem;
  transition: 0.4s;
  border-radius: 10px;
}
#tasks .task .content .summary {
  width: 631.2px;
  height: 100px;
  transition: 0.4s;
  border-radius: 10px;
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  font-size: 1.125rem;
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 700;
  margin-top: 40px;
  text-transform: uppercase;
  transition: 0.4s;
  max-height: 50px;
  background: none;
  border: none;
}

.task .actions .edit {
  background: linear-gradient(to right, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task .actions .delete {
  color: crimson;
}
